a2wsgi==1.10.10
aiologic==0.14.0
aiosqlite==0.21.0
alembic==1.16.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
apache-airflow==3.0.2
apache-airflow-core==3.0.2
apache-airflow-providers-common-compat==1.7.2
apache-airflow-providers-common-io==1.6.1
apache-airflow-providers-common-sql==1.27.3
apache-airflow-providers-smtp==2.1.1
apache-airflow-providers-standard==1.4.0
apache-airflow-task-sdk==1.0.2
argcomplete==3.6.2
asgiref==3.9.0
asttokens==3.0.0
attrs==25.3.0
Automat==22.10.0
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
black==25.1.0
blinker==1.9.0
boto3==1.34.46
botocore==1.34.46
cachetools==6.1.0
cadwyn==5.4.3
certifi==2023.11.17
chardet==5.2.0
click==8.2.1
cloud-init==25.1.2
colorama==0.4.6
colorlog==6.9.0
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
cron-descriptor==1.4.5
croniter==6.0.0
cryptography==41.0.7
dbus-python==1.3.2
decorator==5.2.1
Deprecated==1.2.18
dill==0.4.0
distro==1.9.0
distro-info==1.7+build1
dnspython==2.7.0
ec2-hibinit-agent==1.0.0
email_validator==2.2.0
executing==2.2.0
fastapi==0.115.14
fastapi-cli==0.0.7
Flask==3.1.1
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.73.1
gunicorn==23.0.0
h11==0.16.0
hibagent==1.0.1
httpcore==1.0.9
httplib2==0.20.4
httptools==0.6.4
httpx==0.28.1
hyperlink==21.0.0
idna==3.6
importlib_metadata==8.7.0
incremental==22.10.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kafka-python==2.2.15
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lazy-object-proxy==1.11.0
libcst==1.8.2
linkify-it-py==2.0.3
lockfile==0.12.2
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
methodtools==0.4.7
more-itertools==10.7.0
msgspec==0.19.0
mypy_extensions==1.1.0
narwhals==1.46.0
netaddr==0.8.0
netifaces==0.11.0
numpy==2.3.1
oauthlib==3.2.2
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
packaging==24.0
pandas==2.3.0
parso==0.8.4
pathspec==0.12.1
pendulum==3.1.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.51
protobuf==5.29.5
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
PyJWT==2.10.1
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
python-apt==2.7.7+ubuntu4
python-daemon==3.1.2
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-dotenv==1.1.1
python-magic==0.4.27
python-multipart==0.0.20
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
referencing==0.36.2
requests==2.31.0
retryhttp==1.3.3
rich==13.7.1
rich-argparse==1.7.1
rich-toolkit==0.14.8
rpds-py==0.26.0
s3transfer==0.10.1
service-identity==24.1.0
setproctitle==1.3.6
setuptools==68.1.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sos==4.8.2
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.46.2
streamlit==1.46.1
structlog==25.4.0
svcs==25.1.0
systemd-python==235
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
text-unidecode==1.3
toml==0.10.2
tornado==6.5.1
traitlets==5.14.3
Twisted==24.3.0
typer==0.16.0
types-requests==2.32.4.20250611
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufw==0.36.2
unattended-upgrades==0.1
universal_pathlib==0.2.6
urllib3==2.0.7
uuid6==2025.0.1
uvicorn==0.35.0
uvloop==0.21.0
wadllib==1.3.6
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.42.0
wirerope==1.0.0
wrapt==1.17.2
zipp==3.23.0
zope.interface==6.1
